doctype html
html(lang='en')
head
    title #{ title }
    link(rel='stylesheet' href='/style.css' type='text/css')
    link( rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap')

    script(type="text/javascript").
        window.addEventListener('load', function() {

            let userRequest = {
                url: '',
                keyWords: []
            };

            const filters = document.querySelectorAll('.controlPanel_controls-input');
            const submit = document.getElementById('submit-btn');
            const urlInput = document.getElementById('input');

            filters.forEach(function(filter) {
                filter.addEventListener('click', function() {
                    userRequest.keyWords.push(this.value);
                });
            });

            const sendQuery = () => {
                userRequest.url = urlInput.value;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/search', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(userRequest));
                urlInput.value = '';
            }

            submit.addEventListener('click', sendQuery, false);

        });

body
    block content
        div.banner
            h1.banner_title Website Finder.
            p.banner_text Search the internet for a list of similar webpages. To start using this tool simply type in the name of a website and browse the list of returned webpages, use the taxonomies to help mitigate ineffectual results. Like webpages with content you want to view in order to populate the list with more relevant results.
            div.clipContain
                div.banner_clip
                    img.banner_clip-node(src="/node-js-logo.png" alt="Node Logo")

            div.controlPanel
                div.controlPanel_input
                    label.controlPanel_input-label(for="input") Search:
                    input.controlPanel_input-input#input(type='text', placeholder='www.example.com', name='website')
                    button.controlPanel_input-submit(type='submit', id="submit-btn") Submit

                div.controlPanel_controls
                    label(for='food_category') Food
                        input(type='radio', name='food_category', value='Food', class='controlPanel_controls-input')
                    label(for='food_category') Entertainment
                        input(type='radio', name='entertainment_category', value='Entertainment', class='controlPanel_controls-input')
                    label(for='food_category') Commerce
                        input(type='radio', name='commerce_category', value='Commerce', class='controlPanel_controls-input')
                    label(for='food_category') Health
                        input(type='radio', name='health_category', value='Health', class='controlPanel_controls-input')
                    label(for='food_category') Travel
                        input(type='radio', name='travel_category', value='Travel', class='controlPanel_controls-input')
                    label(for='food_category') Art
                        input(type='radio', name='art_category', value='Art', class='controlPanel_controls-input')

        div.listContainer
            ul.listContainer_list
    block footer
        footer.footer
            p footer content
